@{
    ViewBag.Title = "RetrivingTaks";
}
<h2>Tasks List</h2>

<table class="table">
    <tr>
        <th><p>Task Name</p></th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Task Number</th>
        <th>Status</th>
    </tr>
    @foreach (var item in ViewBag.Tasks)
    {
    <tr>
        <th>@item.UserName</th>
        <th>@item.Description</th>
        <th>@item.DueDate</th>
        <th>@item.TaskNumber</th>
        <th>@item.Status</th>
        <th>
            <a href="/Home/DeleteTask?TaskNu=@item.TaskNumber" onclick="return confirm('Delete ?')" class="btn btn-danger btn-sm ">
                <span class=" glyphicon glyphicon-trash"></span>Remove Task
            </a>
        </th>
        <td><a href="/Home/UpdateTask?UpdateTaskies=@item.TaskNumber">Edit Task</a></td>
    </tr>
    }
</table>
<hr />
<hr />

<h2>Add Task</h2>

<form action="/Home/AddTask" method="get">
    Task Name: <input type="text" name="UserName" />
    Description: <input type="text" name="Description" />
    DueDate: <input type="date" name="DueDate" />
    TaskNumber: <input type="number" name="TaskNumber" /><br />
    Status: <input type="text" name="Status" />
    <input type="submit" value="Submit" />
</form>


<form action="/Home/LogOut" method="get">
    <input type="submit" value="LogOut" />
</form>